/*desing*/
body {
    color: #5C2A21;
    background: #C1BEAD;
    border-color: #5C2A21;
    font-family: 'Staatliches', cursive;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#sketchpad {
    height: 35em;
    width: 60em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEC842;
    border: 1em solid;
    border-radius: 12px;
    border-color: #5C2A21;
}

.leftside {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40rem;
    gap: 1rem;
    padding-left: 40px;
}

.rightside {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    font-size: 40px;
    gap: 20px;
    padding-right: 40px;
}

#screen {
    border: 0.5em solid;
    border-color: #5C2A21;
    height: 30em;
    width: 30em;
    background: white;
}

.button {
    cursor: pointer;
    font-family: 'Staatliches', cursive;
    background: #E09A45;
    color: #5C2A21;
    border: 4px solid;
    border-radius: 12px;
    border-color: #5C2A21;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    width: 15rem;
}

#clear {
    cursor: pointer;
    background: #EF5B2D;
    border: 3px solid;
    border-radius: 100%;
    border-color: #5C2A21;
    width: 40px;
    height: 40px;
}

#cleartxt {
    font-size: 35px;
}

#title {
    font-size: 40px;
}

/*game*/

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #screen {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  } 