body, html {
    margin: 0;
    padding: 0;
    color: #5C2A21;
    background: #C1BEAD;
    border-color: #5C2A21;
    font-family: 'Staatliches', cursive;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: -115px !important;
}

#header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 930px;
    border: 1em solid;
    border-top-left-radius: 12px;
    background: #906964;
    border-color: #5C2A21;
}

#clear {
    cursor: pointer;
    background: #EF5B2D;
    border: 3px solid;
    border-radius: 100%;
    border-color: #5C2A21;
    width: 40px;
    height: 40px;
}

#cleartxt {
    font-size: 35px;
}

#title {
    font-size: 40px;
}

#sketchpad {
    height: 35em;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEC842;
    border: 1em solid;
    border-bottom-left-radius: 12px;
    border-color: #5C2A21;
}

.leftside {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40rem;
    gap: 1rem;
    padding-left: 40px;
}

.rightside {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    font-size: 40px;
    gap: 20px;
    padding-right: 40px;
}

.button {
    cursor: pointer;
    font-family: 'Staatliches', cursive;
    background: #E09A45;
    color: #5C2A21;
    border: 4px solid;
    border-radius: 12px;
    border-color: #5C2A21;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    width: 15rem;
}

/*game related*/

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #screen {
    display: grid;
    overflow: hidden;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 0.5em solid;
    border-color: #5C2A21;
    background: white;
  }
  
  .grid-item {
    width:100% !important;
    border: 1px solid #ddd;
  } 